// Marianne — official DSFR typeface (Etalab 2.0 licence)
// Source: @gouvfr/dsfr (https://www.systeme-de-design.gouv.fr/), .woff2 in /public/fonts/Marianne/
// Bundled variants: Regular / Regular Italic / Medium / Bold / Bold Italic
// font-display: swap to avoid FOIT on first render

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Marianne/Marianne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Marianne/Marianne-Regular_Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Marianne/Marianne-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Marianne/Marianne-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Marianne';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Marianne/Marianne-Bold_Italic.woff2') format('woff2');
}
